[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
black = "*"
mypy = "*"
detect-secrets = "*"
twine = "*"
pylint = "*"
pynt = "*"
pynt-contrib = "*"
pytest = "*"
python-semantic-release = "*"
checksumdir = "*"
vulture = "*"
types-pyyaml = "*"

[packages]
docopt = "*"
telethon = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
